@import "./global.scss";
// @import "../Media.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $medium_purple;
  font-family: $muli;
  list-style: none;
}

.header--menu {
  margin-right: 50px;
}

.header {
  @extend .header--global;
}
.header--menu_profile {
  @extend .center;
  margin-right: 8px;
  width: 40px;
  p {
    @extend .center;
    height: 50px;
    margin: 0 0 0 10px;
  }
}

.header--menu ul {
  display: none;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
  margin: 0 0 0 -30px;
  li {
    margin: 10px 0;
    a:hover {
      text-decoration: underline;
    }
  }
}

.header--menu:hover ul,
ul:hover{
  display: block;
}
