@media only screen and (max-width: 450px) {
  .login--container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .login--form {
    margin-top: 50px;
  }
  .social--login {
    margin: 40px 0;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
  }
  .carousel-item {
    width: 150px;
    height: 200px;
  }
  .header--menu_profile {
    p {
      display: none;
    }
  }
  .header--menu {
    margin-right: 20px;
    ul {
      margin-left: -55px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .header--menu_profile {
    margin-left: 5px;
    .header--menu_profile_p {
      display: none;
    }
  }
  .header--menu {
    margin-right: 20px;
    ul {
      margin-left: -55px;
    }
  }
}

@media only screen
and (max-device-width : 450px) {
  .login--container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .login--form {
    margin-top: 50px;
  }
  .social--login {
    margin: 40px 0;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
  }
  .carousel-item {
    width: 150px;
    height: 200px;
  }
  .header--menu_profile {
    p {
      display: none;
    }
  }
  .header--menu {
    margin-right: 20px;
    ul {
      margin-left: -55px;
    }
  }
}